{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "vue-app"
  ],
  "plugins": [
    "transform-vue-jsx",
    ["@babel/plugin-transform-runtime", {
      // 根据需要添加或更新这里的配置
    }],
    ["component", {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
